.countries {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 20px;
}

.country-visited {
  background-color: aquamarine;
}
.visited-flags-container img {
  width: 120px;
  margin-right: 10px;
}
